@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: tan;
}

#output {
  padding: 20px;
  text-align: center;
}

h1, h2, .roller {
  text-align: center;
}

table {
  position: fixed;
  margin-left:-150px; /* half of width */
  margin-top:-150px;  /* half of height */
  top:75%;
  left:51%;
}

.roller {
  background-color: midnightblue;
  color: bisque;
}

footer {
  position: fixed;
  top: 90%;
  left: 10%
}